@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@source "../src";
@source "../../../backend/api";


.htmx-indicator {
  opacity: 0;
  transition: opacity 100ms ease-in;
}

.htmx-request .htmx-indicator {
  opacity: 1
}

.htmx-request.htmx-indicator {
  opacity: 1
}

.fade-me-out .htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.fade-out-element {
  /* Initial styles for the element */
  /* ... */
  transition: opacity 2s ease-out; /* Transition effect for opacity change */
}

.fade-out-element.fade-out {
  opacity: 0; /* Set opacity to 0 for the fade-out effect */
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-me-out.htmx-swapping {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.fade-me-in.htmx-added {
  opacity: 0;
}

.fade-me-in {
  opacity: 1;
  transition: opacity 500ms ease-out;
}



@plugin "daisyui/theme" {
  name: "kyo";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.006 286.033);
  --color-base-200: oklch(26% 0 0);
  --color-base-300: oklch(37% 0 0);
  --color-base-content: oklch(97% 0 0);
  --color-primary: oklch(48% 0.243 264.376);
  --color-primary-content: oklch(98% 0.018 155.826);
  --color-secondary: oklch(68% 0.169 237.323);
  --color-secondary-content: oklch(97% 0.013 236.62);
  --color-accent: oklch(58% 0.233 277.117);
  --color-accent-content: oklch(96% 0.018 272.314);
  --color-neutral: oklch(20% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}











/*!* Hide input arrows for Chrome, Safari and Opera *!*/
/*input::-webkit-outer-spin-button,*/
/*input::-webkit-inner-spin-button {*/
/*  -webkit-appearance: none;*/
/*  margin: 0;*/
/*}*/

/*!* Hide input arrows for Firefox *!*/
/*input[type=number] {*/
/*  -moz-appearance: textfield;*/
/*}*/

* {
  scrollbar-width: thin;
}


.next-page-element {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 1rem;
}

th {
  padding: 0 15px;
}

td {
  padding: 0 15px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}